<div class='w-100 h-100 d-flex mt-1'>
    <div class="w-25 border full-height side-bar">
        <div class="mt-5 text-center bg-info py-3">
            <%= link_to 'Add a Restaurant', '', method: :get, class: 'btn' %>
        </div>
        <div class="mt-5 text-center bg-secondary py-3">
            <%= link_to 'Add a Restaurant Cut Percentage', '', method: :get, class: 'btn' %>
        </div>
    </div>
    <div class="w-75 admin-dashboard">
        <h1 class="text-center mt-5 mb-3">Add a New Restaurant</h1>
        
    </div>
</div>