<div class='w-100 h-100 d-flex mt-1'>
    <div class="w-25 border full-height side-bar">
        <div class="mt-5 text-center bg-secondary py-3">
            <%= link_to 'Add a Restaurant', admin_addrestaurant_path, method: :get, class: 'btn' %>
        </div>
        <div class="mt-5 text-center bg-secondary py-3">
            <%= link_to 'Add a Restaurant Cut Percentage', admin_addcutpercentage_path, method: :get, class: 'btn' %>
        </div>
        <div class="mt-5 text-center bg-secondary py-3">
            <%= link_to 'View', admin_view_path, method: :get, class: 'btn' %>
        </div>
    </div>
    <div class="w-75 admin-dashboard">
        <h1 class="text-center mt-5 mb-3">Welcome Admin</h1>
        <p class="px-5"> 
            As a result people planning to eat at Jake’s they might want to consider making reservations because the wait can take up to two-hours if they do not. When customers are finally seated, a waiter is assigned to their table. The first thing the waiter does, is ask what the customers wants to drink. About three minutes later, the drinks are served. Next the waiters bring some buttered rolls to eat while the customers are waiting, and of course, there are always peanuts. Customers are encouraged to throw the hulls on the floor. After waiting about seven to ten minutes, the waiter comes back to the table and takes the customers’ orders. About ten minutes later, the waiter brings out the salads and refills the customers’ drinks. A half an hour later, the waiter brings out the customers’ food.

            There is a more rapid pace at McDonald’s. Here customers have the option of driving through or dining in. The customers walk up to the counter and give their order. The food should be ready in the next two minutes. However, if the counter person gets the order wrong, the customers may have to wait longer. If the customer goes through the drive-thru, they drive up and say their order into a box operated by a person they don’t see. Next they drive around to the little window, the casher takes their money. The customer then drives to the next window

            Refer to some other articles in English:

            => Describe the bedroom in English
            => Describe Vietnamese ao dai in English

            Article number 2

            The ‘Open House’ is a restaurant situated in the heart of a small village between three national forests and close to the horse ́s capital city, Chantilly. It is the favorite hangout place for people from the polo, horse races, and golf world.

            As you enter the place you are welcomed by a magnificent setting, a delightful marriage of antique cut stones and the luxuries of modernity. Sitting in any table you have a wonderful view of the workshop-like kitchen where you can see the chefs working. For those who do not book a table and are waiting, there is a cozy lounge with aged leather armchairs and pictures of polo players displayed on the walls.

            The menu offers a wide variety of mouth-watering starters. I had the white asparagus pulled by a mousseline sauce and poached eggs, while my friend tried the zucchini carpaccio served with sundries tomatoes and a mozzarella strudel. They were exquisite. The main course consisted in a risotto with scallop cooked in cream and a cassolette of coley with mussels, which really thrilled us. It all was followed by a delicious apple pie served with a scoop of vanilla ice cream for dessert.

            All the products were fresh and the dishes had the warmth of home-made food. The chefs takes great care in selecting the best quality ingredients. The restaurant also caters for all tastes by providing a large selection of the best wines of the region, which are pricy but worth sampling.

            What a pity that the service does not accompany the high quality of the cooking. You can hardly get a smile out of the waitresses. Thankfully the owner and hostess, a middle-aged charming woman, is always around willing to exchange some kind words with all her clients.
        </p>
    </div>
</div>