@import 'bootstrap/dist/css/bootstrap';

.full-height{
    height: 94vh;
}

.side-bar{
    background-color:  #2e4053 ;
}
.admin-dashboard{
    background-color:  #b3b6b7 ;
}

.admin-view-page
{
    margin-left: 460px;
}

.fixed-sidebar
{
    margin-top: 59px;
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e4053;
    overflow-x: hidden;
    padding-top: 20px;
}

.registrationsScreen{
    width: 700px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
}