@import 'bootstrap/dist/css/bootstrap';

.full-height{
    height: 94vh;
}

.sidenav-line{
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.icon-color :hover{
    opacity: 1;
}

.icon-color{
    color: white;
    opacity: 0.6;
}

.side-bar{
    background-color:  #2e4053 ;
}
.admin-dashboard{
    background-color:  #b3b6b7 ;
}

.admin-view-page
{
    margin-left: 360px;
}

.side-menu-width{
    width: 20%;
}
.content-width{
    width: 80%;
}

.fixed-sidebar
{
    margin-top: 59px;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4e73df;
    overflow-x: hidden;
    padding-top: 20px;
}

.fixed-navbar{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.registrationsScreen{
    width: 700px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
}